.editPost {
  text-align: center;
}

.editPost h2 {
  font-size: 2.2rem;
}

.editPost p {
  color: #aaa;
  margin-bottom: 2rem;
}

.editPost .preview_title {
  margin-bottom: .2rem;
  color: #000;
  font-weight: bold;
}

.image_preview {
  max-width: 100%;
  margin-bottom: 1rem;
}